@import 'tailwindcss';

@theme {
	--color-gray: #1c1c1c;

	--animate-slideInUp: slideInUp 0.5s ease-in-out;
	--animate-slideOutDown: slideOutDown 0.5s ease-in-out;

	@keyframes slideInUp {
		from {
			transform: translateY(100%);
		}
		to {
			transform: translateY(0);
		}
	}

	@keyframes slideOutDown {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(100%);
		}
	}
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #ffffff;
	background-color: #1c1c1c;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

h1 {
	font-size: 1.2em;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: 0.035em;
}

p {
	font-size: 0.8em;
}

button {
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

input {
	background-color: white;
}

textarea {
	background-color: white;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
